**/__pycache__
Results/
of_flows.egg-info/
dist/
plot_promol.py 
plot_rev.py 
test.py 
Figures/ 
Figures_db/
Figures_pro_mol/
Figures_pro_mol_kato/  
Figures_pro_mol_kato_dopri8/
Figures_pro_mol_none/
Figures_sampling_none_dopri5/ 
Figures_pro_mol_combined/ 
old_Results_db/
Results_pro_mol/ 
plot_ema.py
ploplot_kato_&_none_ema.py
AtomDB/ 
plot_rev_pro_mol_copy.py
plot_kato_&_none_ema.py 
plot_rev_sampling.py 